= simple_form_for(@team) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.association :creator
    = f.input :url
    = f.input :logo_url

  .form-actions
    = f.button :submit
