= simple_form_for(@team) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    - if @team.creator_id
      = f.association :creator, include_blank: true
    - else
      = f.association :creator, include_blank: true, selected: @current_player.try(:id)
    = f.input :url
    = f.input :logo_url

  .form-actions
    = f.button :submit
