%h3
  = mine ? 'My Teams' : 'Other Teams'
  - if player_signed_in?
    = link_to '(Add)', mine ? new_team_path(creator_id: @current_player.try(:id)) : new_team_path

- if teams.try(:first)
  %table.datatables
    %thead
      %tr
        %th
        %th Name
        %td Players
        %td Roles
        %td Projects
        %th Description
        %th
        %th
        %th
        %th
    %tbody
      - teams.each do |team|
        %tr
          %td= link_to 'Activate', activate_team_path(id: team.id)
          %td= link_to team.name, team
          %td= team.players.map(&:first_name).join(', ')
          %td= "#{team.roles.count} Roles"
          %td= "#{team.projects.count} Projects"
          - if team.url
            %td= link_to team.description, team.url
          - else
            %td= team.description
          %td= link_to 'Show', team
          %td= link_to 'Edit', edit_team_path(team)
          %td= link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }
          - if mine
            %td= link_to 'Leave', leave_team_path(team)
          - else
            %td= link_to 'Join', join_team_path(team)
