%h1 My Accepted Challenges

%table
  %thead
    %tr
      %th Challenge
      %th Active
      %th Today?
      %th Comments
      - if current_player.admin?
        %th Who
      %th
      %th
      %th

  %tbody
    - @accepted_challenges.each do |ac|
      %tr
        - if current_player.admin?
          %td= link_to ac.description, edit_challenge_path(ac.challenge) rescue 'Challenge Missing'
        - else
          %td= ac.description rescue 'Challenge Missing'
        %td= ac.active rescue 'Missing'
        %td
          - actual = Challenge.count(@player, ac.item_type)
          - if actual >= ac.greater_than
            .green-text= '✔︎ ' + actual.to_s
          - else
            .red-text= '✘ ' + actual.to_s
        %td= ac.comments rescue 'Missing'
        - if current_player.admin?
          %td= ac.player.first_name rescue 'Missing Name'
        %td= link_to 'Show', ac
        %td= link_to 'Edit', edit_accepted_challenge_path(ac)
        %td= link_to 'Destroy', ac, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Find A New Challenge!', challenges_path
