%tr{style: "background-color: #{aktion.team.color(current_player)}"}
  %td= aktion.simple_time
  %td= link_to aktion.status_full, edit_team_aktion_path(current_team, aktion, edit_finished: true)
  %td= link_to aktion.focus, aktion
  %td= link_to aktion.verb.name, aktion.verb if aktion.verb
  %td= link_to aktion.team.short_safe, aktion.team, title: aktion.project.try(:name)
  %td= link_to aktion.role.short_safe, aktion.role if aktion.role
  %td= aktion.intensity
  %td= aktion.flow
  %td= aktion.value
  %td= link_to 'Destroy', aktion, :method => :delete, :data => { :confirm => 'Are you sure?' }
    