/ = aktions.count
/ = I18n.t 'Aktions'
/ (
/ - aktions.group_by(&:team_id).each do |key, value|
/   = "#{value.count} for Team #{Team.find_by_id(key).name}...  "
/ )
/ %hr

%h4= "#{@player.name}'s Actions"
= link_to '⬅︎', aktions_path(date: @date - 1.day)
="#{@date.strftime('%a, %b-%d')} #{Time.zone.now.in_time_zone(@player.current_time_zone).strftime('%Z')}"
= link_to '➜', aktions_path(date: @date + 1.day)

%hr
- Player.todays_grid(@date).in_groups_of(12).each_with_index do |part_of_days_slots, idx|
  .large-3.medium-6.small-12.columns
    %h5.large-12.text-center= PARTS_OF_DAY[idx]
    - part_of_days_slots.each do |slot|
      - a = Aktion.get(@player, slot)
      - now = slot == Aktion.current_timeslot.in_time_zone(@player.current_time_zone)
      - if a
        .large-12.columns.action-cell{style: "background-color: #{a.team.color(@player)}; #{now ? 'border: 1px solid red;' : ''}"}
          %span.red-text= link_to slot.strftime('%H:%M'), a
          %span= link_to a.try(:summary_with_focus), edit_aktion_path(a, edit: true)
      - else
        .large-12.columns.action-cell{style: "background-color: white; #{now ? 'border: 1px solid red;' : ''}"}
          %span.red-text= link_to Aktion.current_timeslot(slot).strftime('%H:%M'), a
          %span.green-text= link_to 'CREATE...', new_aktion_path(timeslot: slot.in_time_zone(@player.current_time_zone))

%hr