%br
= simple_form_for(@aktion) do |f|
  = f.error_notification

  .form-inputs
    .large-1.medium-1.small-1.columns.bigger.text-right TEAM
    - if params[:team_id]
      .large-3.medium-3.small-3.columns.text-left= f.association :team, collection: @current_player.teams, label: false, disabled: true
    - else
      .large-3.medium-3.small-3.columns.text-left= f.association :team, collection: @current_player.teams, label: false, include_blank: true
    .large-1.medium-2.small-2.columns.bigger.text-right STATUS
    .large-3.medium-2.small-2.columns.text-left= f.input :status, collection: Aktion.status_options, label: false
    - unless params[:action] == 'show'
      .large-4.medium-4.small-4.columns.text-center.bold= f.button :submit, @aktion.to_do
    %hr
    .quadrants-container
      .large-3.medium-4.small-4.columns.aktion-quadrant.commit-bg
        .large-12.medium-12.small-12.columns.commit.bigger.text-center.aktion-quadrant-header COMMIT
        = render 'quadrant_commit', aktion: @aktion, f: f

      .large-3.medium-2.small-2.columns.aktion-quadrant.focus-bg
        .large-12.focus.bigger.text-center.aktion-quadrant-header FOCUS
        - if params[:action] == 'edit' && @aktion.status == 'attempting'
          .large-12 Sound preference?
          .large-12.columns.text-center.sound-option.button
            = link_to 'TICKING', set_sound_player_path(current_player, sound_choice: 'ticking')
          .large-12.columns.text-center.sound-option.button
            = link_to 'NATURE', set_sound_player_path(current_player, sound_choice: 'nature')
          .large-12.columns.text-center.sound-option.button
            = link_to 'MUSIC', set_sound_player_path(current_player, sound_choice: 'music')
          .large-12.columns.text-center.sound-option.button
            = link_to 'SILENCE', set_sound_player_path(current_player, sound_choice: 'silence')

      .large-3.medium-4.small-4.columns.aktion-quadrant.review-bg
        .large-12.medium-12.small-12.columns.review.bigger.text-center.aktion-quadrant-header REVIEW
        = render 'quadrant_review', aktion: @aktion, f: f

      .large-3.medium-2.small-2.columns.aktion-quadrant.relax-bg
        .relax.bigger.text-center.aktion-quadrant-header RELAX
        = render 'quadrant_relax', aktion: @aktion, f: f

    .large-6.small-6= f.association :location, as: :hidden
    .large-12.medium-12.small-12= f.association :player, include_blank: true, as: :hidden

    %hr
    %h5 Sound Choices
    = render '/visitors/sounds'
    %hr
