= simple_form_for(@aktion) do |f|
  = f.error_notification

  .form-inputs
    .large-4.medium-8.small-12.columns.aktion-quadrant.commit-bg
      .commit.bigger.text-center.aktion-quadrant-header COMMIT
      .large-12.columns.bigger= "TEAM: #{@current_team.name}"
      .large-12.columns= f.input :timeslot, minute_step: 30, use_short_month: true, discard_year: true, label: false
      .large-12.columns= f.association :verb, prompt: 'Doing what?', autofocus: true, label: false
      .large-12.columns= f.input :focus, placeholder: 'With what specific focus?', label: false
      .large-12.columns= f.input :intensity, collection: Aktion.intensities, prompt: 'And what intensity?', label: false
      .large-12.columns= f.association :role, prompt: 'In which role?', label: false
      .large-12.columns= f.association :project, prompt: 'For what project?', label: false
    .large-2.medium-4.small-12.columns.aktion-quadrant.focus-bg
      .focus.bigger.text-center.aktion-quadrant-header FOCUS
      .sound-option= link_to 'Ticking', new_team_aktion_path(@current_team, sound_choice: 'ticking')
      .sound-option= link_to 'Nature Sounds', new_team_aktion_path(@current_team, sound_choice: 'nature')
      .sound-option= link_to 'My Own Music', new_team_aktion_path(@current_team, sound_choice: 'music')
      .sound-option= link_to 'Silence', new_team_aktion_path(@current_team, sound_choice: nil)
    .large-4.medium-8.small-12.columns.aktion-quadrant.review-bg
      .review.bigger.text-center.aktion-quadrant-header REVIEW
      .large-4.columns.bigger= 'STATUS'
      .large-8.columns= f.input :status, collection: Aktion.status_options, label: false
      / = f.input :how_it_went, as: :hidden
      .large-3.columns.bigger= 'FLOW'
      .large-9.columns= f.input :flow, collection: Aktion.focus_options, label: false
      .large-12= f.input :flow_notes, label: false, input_html: {rows: 5}, placeholder: Aktion.focus_placeholder
      .large-3.columns.bigger= 'VALUE'
      .large-9.columns= f.input :value, collection: Aktion.focus_options, label: false
      .large-12= f.input :value_notes, label: false, input_html: {rows: 5}, placeholder: Aktion.value_placeholder
    .large-2.medium-4.small-12.columns.aktion-quadrant.relax-bg
      .relax.bigger.text-center.aktion-quadrant-header RELAX
      .large-6.columns.my-label water
      .large-6.columns= f.input :water, as: :boolean, label: false
      .large-6.columns.my-label push-ups
      .large-6.columns= f.input :pushups, as: :integer, label: false
      .large-6.columns.my-label breaths
      .large-6.columns= f.input :breaths, as: :integer, label: false

    .large-6.small-6= f.association :location, as: :hidden
    .large-6.small-6= f.input :time_zone, selected: Time.now, include_blank: true, as: :hidden
    .large-12.medium-12.small-12= f.association :player, include_blank: true, as: :hidden
    %hr
    /
    / = f.input :visible_to

  .form-actions
    = f.button :submit, "Create #{I18n.t :Aktion}"

  = render '/visitors/sounds'
