.medium-12.block
  .text-center.yellow-text NOW TAGGING
  #now-actions
    = render 'aktions/now_aktions'

- todays_players = Player.active_today.sort_by{ |p| p.todays_points }.reverse
- if todays_players.count > 0
  .medium-12.block  
    .text-center.yellow-text TODAY
    - todays_players.each do |p|
      .sidebar-player.today-summary
        .img= link_to (image_tag p.gravatar, height: 20, width: 20), player_aktions_path(p, date: Time.zone.now.to_date)
        .text-center.name= p.first_name
        .text-right.stats= "#{p.todays_actions.count}/+#{p.todays_actions.map{|a|a.score}.sum}"
