- current_actions = Aktion.current.sort_by{ |a| a.player.first_name }
- if current_actions
  .medium-12.block
    .text-center.yellow-text NOW
    - current_actions.each do |a|
      - title = a.player.first_name.to_s + ': ' + a.focus.to_s
      - title += ' (' + a.verb.try(:name).to_s + ' for ' + a.team.try(:name).to_s
      - title += ', project: ' + a.project.try(:name).to_s + ')'
      .sidebar-player.today-summary
        .img= link_to (image_tag a.player.gravatar, height: 20, width: 20), a.player, title: title
        .text-center.name= a.player.first_name
        .text-right.stats= "#{a.player.todays_actions.count}/+#{a.player.todays_actions.map{|a|a.score}.sum}"

- now_players = current_actions.map(&:player)
- todays_players = Player.active_today - now_players
- if todays_players
  .medium-12.block  
    .text-center.yellow-text EARLIER
    - todays_players.each do |p|
      .sidebar-player.today-summary
        .img= link_to (image_tag p.gravatar, height: 20, width: 20), p
        .text-center.name= p.first_name
        .text-right.stats= "#{p.todays_actions.count}/+#{p.todays_actions.map{|a|a.score}.sum}"
