- if params[:edit_finished] || !@aktion.valid? || params[:status] == 'planned' || (params[:action] == 'new' && aktion.status == 'committing')
  .large-12.columns= f.input :choice, as: :boolean, inline_label: Aktion.choice, autofocus: true
  .large-12.columns= f.input :focus, placeholder: 'Single focus?', label: false
  #verb
    .large-10.columns= f.association :verb, collection: Verb.order(:name), prompt: 'Doing?', label: false, include_blank: true
    .large-2.columns#add-verb= link_to '+verb', new_verb_path, remote: true
  #role
    - old_collection = current_player.active_roles(@aktion.team || current_team).sort_by{ |r| r.short_team_role }
    .large-10.columns= f.association :role, collection: old_collection, label_method: :short_team_role, prompt: 'In which role?', label: false, include_blank: true
    .large-2.columns#add-role= link_to '+role', new_role_path(team_id: @aktion.team || current_team, and_fill: true), remote: true
  #project
    .large-10.columns= f.association :project, collection: (@aktion.team || current_team).projects.sort_by{|p|p.name}, label_method: :short_team_project, prompt: 'For what project?', label: false, include_blank: true
    .large-2.columns#add-project= link_to '+proj', new_project_path(team_id: @aktion.team || current_team, active: true, commitment: true), remote: true
  .large-9.medium-9.columns= f.input :intensity, collection: Aktion.intensities, include_blank: true, prompt: 'Intensity?', label: false
  .large-3.medium-3.columns.commit-button= f.button :submit, "GO"
  .large-12= f.association :location
  - unless params[:status] == 'planned'
    .large-12.columns= f.input :timeslot, minute_step: 30, use_short_month: true, label: false, discard_year: true
    .large-12.columns= f.input :time_zone, selected: Time.now, include_blank: true, label: false, prompt: 'Time Zone?'
- else
  .large-12.review-item
    %span.bold Choice: 
    %span= aktion.choice == '1' ? 'Affirmed' : 'Unspecified'
  .large-12.review-item
    %span.bold Time Slot:
    %span= aktion.timeslot.strftime('%b-%d, %H:%M') rescue 'no time'
  .large-12.review-item
    %span.bold Verb: 
    %span= aktion.verb.try(:name)
  .large-12.review-item
    %span.bold Focus: 
    %span= aktion.focus
  .large-12.review-item
    %span.bold Intensity: 
    %span= aktion.intensity
  .large-12.review-item
    %span.bold Location: 
    %span= aktion.location(:name)
  .large-12.review-item
    %span.bold Role: 
    %span= aktion.role.try(:name)
  .large-12.review-item
    %span.bold Project: 
    %span= aktion.project.try(:name)
