- if @aktion.status != 'committing'
  .large-12.medium-12.columns
    .focus-label Declared focus:
    .box.text-center= @aktion.declared_focus
  - if @aktion.status == 'attempting'
    - if insights?
      - if @aktion.insights != []
        %h5.text-center
          Insights
          %span#add-insight{"data-aktion_id" => "#{@aktion.id}", "data-player_id" => "#{current_player.id}"}= link_to '(Add)', new_insight_path(player_id: current_player.id, aktion_id: @aktion.id), remote: true
        #insights
          - @aktion.insights.each do |insight|
            = insight.text
            %br
      - else
        %h5.text-center
          %span#add-insight{"data-aktion_id" => "#{@aktion.id}", "data-player_id" => "#{current_player.id}"}= link_to 'Add Insight', new_insight_path(player_id: current_player.id, aktion_id: @aktion.id), remote: true
        #insights
      %hr
    / %h5 Interruptions
    / %h5.text-center Add Interruption | Recovered
    / %h5.text-center Add Distraction | Recovered
    - unless params[:action] == 'show'
      .text-center.bold= f.button :submit, 'STOP AT THE BELL'
  - if @aktion.status == 'reviewed'
    .self-reported.text-center= "Self-Reported: +#{@aktion.self_reported_score}"
    %h5.large-12.columns= "Action Integrity Score: +#{@aktion.score}"
    #scores-table.large-12
      - if @aktion.score < 4
        .row
          .score.cell +3
          .cell
            .checklist-item= "✘ Committed on time" if !@aktion.rubric_started_on_time
            .checklist-item= "✘ Stopped at the bell" if !@aktion.rubric_stopped_at_the_bell
            .checklist-item= "✘ Kept the same focus" if !@aktion.rubric_kept_the_same_focus
            .checklist-item= "✘ Reflected on flow/value" if !@aktion.rubric_reflected_on_flow_value
            .checklist-item= "✘ Recovered from all interruptions" if !@aktion.rubric_recovered_interruptions
        .row
          .cell
          .cell
        .row
          .cell
          .cell
      .row
        .score.cell +6
        .cell
          .checklist-item= "✔︎ Committed on time" if @aktion.rubric_started_on_time
          .checklist-item= "✔︎ Stopped at the bell" if @aktion.rubric_stopped_at_the_bell
          .checklist-item= "✔︎ Kept the same focus" if @aktion.rubric_kept_the_same_focus
          .checklist-item= "✔︎ Reflected on flow/value" if @aktion.rubric_reflected_on_flow_value && @aktion.rubric_reflected_on_flow_value == 'numbers'
          .checklist-item= "✔︎ Recovered from all interruptions" if @aktion.rubric_recovered_interruptions && @aktion.rubric_recovered_interruptions > 1
      .row
        .score.cell +8
        .cell
          .checklist-item= "✔︎ Took a full, 4+ minute break" if @aktion.rubric_started_on_time
          .checklist-item= "✔︎ Reflected on flow/value with details" if @aktion.rubric_reflected_on_flow_value && @aktion.rubric_reflected_on_flow_value == 'detailed'
          .checklist-item= "✔︎ Recovered from sole interruption" if @aktion.rubric_recovered_interruptions && @aktion.rubric_recovered_interruptions == 1
      .row
        .score.cell +10
        .cell
          .checklist-item= f.input :awesome_break, as: :boolean, label: 'Took a full, awesome break'
          .checklist-item= f.input :tight_focus, as: :boolean, label: 'Kept tightly defined focus'
          .checklist-item= "✔︎ Was never interrupted" if @aktion.rubric_recovered_interruptions && @aktion.rubric_recovered_interruptions == 0
