- if @aktion.status == 'attempting'
  %h5.text-center
    =link_to 'Ticking', sounds_path(sound_choice: 'ticking')
    \|
    =link_to 'Nature', sounds_path(sound_choice: 'nature')
    \|
    =link_to 'Music', sounds_path(sound_choice: 'music')
    \|
    =link_to 'Silence', sounds_path(sound_choice: 'silence')
  %hr
  - if @aktion.insights != []
    %h5.text-center
      Insights
      %span#add-insight{"data-aktion_id" => "#{@aktion.id}", "data-player_id" => "#{current_player.id}"}= link_to '(Add)', new_insight_path(player_id: current_player.id, aktion_id: @aktion.id), remote: true
    #insights
      - @aktion.insights.each do |insight|
        = insight.text
        %br
  - else
    %h5.text-center
      %span#add-insight{"data-aktion_id" => "#{@aktion.id}", "data-player_id" => "#{current_player.id}"}= link_to 'Add Insight', new_insight_path(player_id: current_player.id, aktion_id: @aktion.id), remote: true
    #insights
  %hr
  / %h5 Obstacles
  / %h5.text-center Add Interruption | Recovered
  / %h5.text-center Add Distraction | Recovered
  - unless params[:action] == 'show'
    .text-center.bold= f.button :submit, 'STOP AT THE BELL'
