- if params.has_key?(:edit) || !@aktion.valid? || params[:status] == 'planned' || (params[:action] == 'new' && aktion.status == 'committing')
  = @started_at = params[:started_at]
  / .large-12.columns= f.input :started_at, as: :string, include_blank: true, use_short_month: true, discard_year: true, selected: Time.zone.now
  .large-12.columns= f.input :choice, as: :boolean, inline_label: CHOICE, autofocus: true
  .large-12.columns= f.input :focus, placeholder: 'Single focus?', label: false
  .large-12.medium-12.commit-button.text-center= f.button :submit, 'COMMIT'
  #verb
    .large-12.columns.text-right#add-verb= link_to '+verb', new_verb_path, remote: true
    .large-12.columns= f.association :verb, collection: Verb.order(:name), prompt: 'Doing what?', label: false, include_blank: true
  #role
    - old_collection = current_player.active_roles(@aktion.team).sort_by{ |r| r.short_team_role }
    - label_method = @aktion.team ? :name : :short_team_role
    .large-12.columns.text-right#add-role{"data-team_id" => @aktion.team.try(:id), "and_fill" => true}= link_to '+role', new_role_path, remote: true
    - prompt = "In which #{@aktion.team ? @aktion.team.short_safe + ' ' : ''}role?"
    .large-12.columns= f.association :role, collection: old_collection, prompt: prompt, label_method: label_method, label: false, include_blank: true
  #project
    .large-12.columns.text-right#add-project{"data-team_id" => @aktion.team.try(:id), "active" => true, "commitment" => true}= link_to '+project', new_project_path, remote: true
    - @projects = @aktion.team ? Project.search(@aktion.team, current_player).sort_by(&:name) : current_player.projects.sort_by{ |p| [p.team.short_safe, p.name] }
    - label_method = @aktion.team ? :name : :short_team_project
    - prompt = "For what #{@aktion.team ? @aktion.team.short_safe + ' ' : ''}project?"
    .large-12.columns= f.association :project, collection: @projects, prompt: prompt, label_method: label_method, label: false, include_blank: true
  %hr
  - unless params[:status] == 'planned'
    .large-12.columns= f.input :timeslot, minute_step: 30, use_short_month: true, label: false, discard_year: true
    .large-12.columns= f.input :time_zone, selected: Time.zone.now, include_blank: true, label: false, prompt: 'Time Zone?'
- else
  - if aktion.verb
    %h4
      %span You are 
      %span.underline= aktion.verb.try(:name)
  %h4
    %span.bold Focus:
    %span.underline= aktion.focus
  .large-12.review-item
    %span.bold Time Slot:
    %span.underline= aktion.timeslot.strftime('%b-%d, %H:%M') rescue 'no time'
  - if aktion.role
    .large-12.review-item
      %span.bold Role: 
      %span.underline= link_to aktion.role.name, aktion.role
  - if aktion.project
    .large-12.review-item
      %span.bold Project: 
      %span.underline= aktion.project.try(:name)
  .large-12.review-item
    %span.bold Choice: 
    %span.underline= aktion.choice == '1' ? 'Affirmed' : 'Unspecified'
