- if params[:edit_finished] || !@aktion.valid? || (params[:action] == 'new' && aktion.status == 'committing')
  .large-12.columns= f.input :choice, as: :boolean, inline_label: Aktion.choice, autofocus: true
  .large-12.columns= f.input :focus, placeholder: 'Single focus?', label: false
  .large-10.columns= f.association :verb, prompt: 'Doing?', label: false, include_blank: true
  .large-2.columns#add-verb= link_to 'add', new_verb_path
  .large-10.columns= f.association :role, collection: current_player.active_roles(current_team).sort_by{|r|r.name}, prompt: 'In which role?', label: false, include_blank: true
  .large-2.columns#add-role= link_to 'add', new_role_path(team_id: current_team)
  .large-10.columns= f.association :project, collection: current_team.projects.sort_by{|p|p.name}, prompt: 'For what project?', label: false, include_blank: true
  .large-2.columns#add-project= link_to 'add', new_project_path(team_id: current_team)
  .large-9.medium-9.columns= f.input :intensity, collection: Aktion.intensities, prompt: 'Intensity?', label: false, selected: 4
  .large-3.medium-3.columns.commit-button= f.button :submit, "GO"
  .large-12.columns= f.input :timeslot, minute_step: 30, use_short_month: true, label: false, discard_year: true
  .large-12.columns= f.input :time_zone, selected: Time.now, include_blank: true, label: false, prompt: 'Time Zone?'
- else
  .large-12.review-item
    %span.bold Choice: 
    %span= aktion.choice == '1' ? 'Affirmed' : 'Unspecified'
  .large-12.review-item
    %span.bold Time Slot:
    %span= aktion.timeslot.strftime('%b-%d, %H:%M') rescue 'no time'
  .large-12.review-item
    %span.bold Verb: 
    %span= aktion.verb.try(:name)
  .large-12.review-item
    %span.bold Focus: 
    %span= aktion.focus
  .large-12.review-item
    %span.bold Intensity: 
    %span= aktion.intensity
  .large-12.review-item
    %span.bold Role: 
    %span= aktion.role.try(:name)
  .large-12.review-item
    %span.bold Project: 
    %span= aktion.project.try(:name)
