- if @aktion.planned == true || params[:status] == 'planned'
  .large-12.focus.bigger.text-center.aktion-quadrant-header PLAN
  .large-12.columns= f.input :planned, inline_label: 'Planned Action for'
  .large-12.columns= f.input :planned_date, include_blank: true, use_short_month: true, label: false
  .large-7.medium-12.columns= f.input :planned_sequence_number, collection: (1..5), label:  false, prompt: 'Sequence #'
  .large-5.medium-12.columns.commit-button= f.button :submit, "PLAN"
  - current_player.planned_actions.each do |pa|
    .large-12= link_to pa.seq + pa.summary, edit_aktion_path(pa, edit: true)
- else
  .large-12.focus.bigger.text-center.aktion-quadrant-header FOCUS
  .large-12#insights
  .large-12.columns.text-right#add-insight= link_to '+insight', new_insight_path(player_id: current_player.id, aktion_id: @aktion.id), remote: true
  - if params[:action] == 'edit' && @aktion.status == 'attempting'
    .large-12 Sound preference?
    .large-12.columns.text-center.sound-option.button
      = link_to 'TICKING', sounds_path(sound_choice: 'ticking')
    .large-12.columns.text-center.sound-option.button
      = link_to 'NATURE', sounds_path(sound_choice: 'nature')
    .large-12.columns.text-center.sound-option.button
      = link_to 'MUSIC', sounds_path(sound_choice: 'music')
    .large-12.columns.text-center.sound-option.button
      = link_to 'SILENCE', sounds_path(sound_choice: 'silence')
