- day = Time.zone.now.in_time_zone(tz).to_date
.medium-12.block
  .header.text-center
    %span.yellow-text= link_to 'CHALLENGES', accepted_challenges_path
  - current_player.itemized_challenges.sort_by{|k,v|k}.each do |key, value|
    = render 'accepted_challenges/accepted_challenge', day: day, item_type: key, item_challenges: value
  / .today-summary.text-center= "+#{current_player.todays_actions.map{|a|a.score}.sum} Points"
  / .today-summary.text-center
  /   - if current_player.active_challenges(3).count > 0
  /     %span.yellow-text= link_to current_player.todays_breaths, accepted_challenges_path, title: 'See your Conscious Breath related challenges'
  /   - else
  /     %span= current_player.todays_breaths
  /   %span Breaths
  / .today-summary.text-center
  /   - if current_player.active_challenges(2).count > 0
  /     %span= current_player.todays_pushups
  /   - else
  /     %span= current_player.todays_pushups
  /   %span Push-Ups
  /   %span.yellow-text= link_to '/100', accepted_challenges_path, title: 'See your Push-Up related challenges'

.top-10
.medium-12.block
  .text-center.yellow-text MY DAY
  - actions_by_part_of_day = Player.todays_grid(tz, @date).in_groups_of(12)
  - actions_by_part_of_day.each_with_index do |part_of_days_slots, idx|
    - if false # current_player.actions_before_6am(@date).count > 0
      .sidebar-container
        - part_of_days_slots.each do |slot|
          - a = Aktion.get(current_player, slot)
          .hslot= render 'aktions/hslot', slot: slot, a: a
    - else
      - unless idx == 0
        .sidebar-container
          - part_of_days_slots.each do |slot|
            - a = Aktion.get(current_player, slot)
            .hslot= render 'aktions/hslot', slot: slot, a: a
  .sidebar-container
  .sidebar-container
