- day = Time.zone.now.in_time_zone(current_player.current_time_zone).to_date
.today-item.medium-12.block
  .header.text-center= link_to 'TODAY', player_aktions_path(player_id: current_player.id, date: day)
  .today-summary= "#{current_player.todays_actions(day).count} Actions"
  .today-summary= "#{current_player.todays_actions(day).count} Actions"  
  - actions_by_part_of_day = Player.todays_grid(current_player.current_time_zone, @date).in_groups_of(12)
  - actions_by_part_of_day.each_with_index do |part_of_days_slots, idx|
    - if current_player.actions_before_6am(@date).count > 0
      .clear-both
      .hslots
        - part_of_days_slots.each do |slot|
          .hslot= render 'aktions/hslot', slot: slot
    - else
      - unless idx == 0
        .clear-both
        .hslots
          - part_of_days_slots.each do |slot|
            .hslot= render 'aktions/hslot', slot: slot
