/ = react_component 'Aktions', { data: @aktions }

/ %ul
/   %li LIST
/   %li DAILY
/   %li WEEKLY
/   %li MONTHLY
/
= render 'daily', aktions: @todays_actions
= render 'aktions', aktions: @aktions

%hr
%h2= "#{@aktions.try(:count) || 0} Detailed #{I18n.t 'Aktions'}"

- if @aktions
  .detailed-actions-container
    - @aktions.each do |action|
      = render 'detailed_action', action: action