%p#notice= notice

%p
  %b Timeslot:
  = @aktion.timeslot
%p
  %b Focus:
  = @aktion.focus
%p
  %b Player:
  = @aktion.player_id
%p
  %b Verb:
  = @aktion.verb_id
%p
  %b Project:
  = @aktion.project_id
%p
  %b Flow:
  = @aktion.flow
%p
  %b Flow notes:
  = @aktion.flow_notes
%p
  %b Value:
  = @aktion.value
%p
  %b Value notes:
  = @aktion.value_notes
%p
  %b Visible to:
  = @aktion.visible_to
%p
  %b Status:
  = @aktion.status
%p
  %b Intensity:
  = @aktion.intensity
%p
  %b How it went:
  = @aktion.how_it_went
%p
  %b Time zone:
  = @aktion.time_zone
%p
  %b Location:
  = @aktion.location_id
%p
  %b Role:
  = @aktion.role_id
%p
  %b Properties:
  = @aktion.properties

= link_to 'Edit', edit_aktion_path(@aktion)
\|
= link_to 'Back', aktions_path
