= simple_form_for(@friendship) do |f|
  = f.error_notification

  .form-inputs
    = f.association :requester, selected: current_player.id
    = f.association :accepter, label: 'Invitee'
    = f.input :accepted

  .form-actions
    = f.button :submit
