= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :team, selected: @current_team
    = f.input :active
    = f.input :commitment
    = f.input :visible_to
    = f.association :parent, label: 'Parent Project'

  .form-actions
    = f.button :submit
