= simple_form_for(@project) do |f|
  = f.error_notification
  
  .form-inputs
    .large-4.medium-6.small-12.columns= f.input :name, autofocus: true
    .large-4.medium-6.small-12.columns= f.association :parent, label: 'Parent Project'
    .large-4.medium-6.small-12.columns= f.input :visible_to
    .large-4.medium-6.small-12.columns
      = f.input :active
      = f.input :commitment
    .large-4.medium-6.small-12.columns
  %hr
  .form-actions
    .large-4.medium-6.small-12.columns= f.button :submit
    .large-4.medium-6.small-12.columns= f.association :team, include_blank: true
    .large-4.medium-6.small-12.columns
  %hr
