%h1 Projects

%table
  %thead
    %tr
      %th Name
      %th Team
      %th Active
      %th Commitment
      %th Visible to
      %th Parent Project
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.name, project
        %td= link_to project.team.try(:name), project.team
        %td= project.active
        %td= project.commitment
        %td= project.visible_to
        %td= project.parent.try(:name)
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Project', new_project_path
