= simple_form_for(@player) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :role, collection: Player.roles.keys.map {|role| [role.titleize,role]}, label: 'TAG.com role'
    = f.input :email
    = f.input :fictional
    = f.input :current_time_zone

  .form-actions
    = f.button :submit
