%h1= "Listing #{I18n.t :Players}"

%table
  %thead
    %tr
      %th
      %th Name
      %th Email
      %th
      %th
      %th

  %tbody
    - @players.each do |player|
      %tr
        %td= image_tag player.gravatar
        %td= link_to player.name, player
        %td= player.email
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }
