%h3
  = @player.name
  = link_to '(Edit)', edit_player_path(@player)

%p
  %b Current time zone:
  = @player.current_time_zone
%hr

- if @player.teams
  - @player.teams.each do |team|
    %h4= team.name
    = render '/roles/roles', roles: team.roles, team: team
    .clear-both
    = render '/projects/projects', projects: team.projects, team: team
    %hr