%h2
  = @player.name
  = link_to '(Edit)', edit_player_path(@player)

%p
  %b Current time zone:
  = @player.current_time_zone
%hr

- @player.teams.each do |team|
  %h4= team.name
  = render '/teams/roles_projects', team: team
