= simple_form_for [@team, @role] do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :team, selected: @team.id
    = f.association :parent
    = f.input :description
    = f.input :url

  .form-actions
    = f.button :submit
