= simple_form_for [current_team, @role] do |f|
  = f.error_notification

  .form-inputs
    .large-6.medium-12.columns
      .large-4.medium-4.small-4.columns= f.input :name
      .large-4.medium-4.small-4.columns= f.input :short
      .large-4.medium-4.small-4.columns= f.input :external_id
      .large-6.medium-6.small-6.columns= f.association :team, collection: current_player.teams, selected: current_team.id, label: false, prompt: 'Team'
      .large-6.medium-6.small-6.columns= f.association :parent, collection: current_team.roles - [@role] - @role.children, label: false, prompt: 'Parent Role?'
    .large-6.medium-12.columns
      .large-12= f.input :description
      .large-12= f.input :url
    %hr
  .form-actions
    = f.button :submit
