= simple_form_for(@role) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :team
    = f.association :parent
    = f.input :description
    = f.input :url

  .form-actions
    = f.button :submit
