%h1 Listing challenges

%table
  %thead
    %tr
      %th
      %th id
      %th Description
      %th Accepted By
      %td Available
      %td Creator
      %th
      %th
      %th

  %tbody
    - @challenges.each do |challenge|
      %tr
        - ac = challenge.accepted_by(current_player)
        - if ac.first
          %td.blue-text= link_to 'ACTIVE', ac.first
        - else
          %td.green-text= link_to 'ACCEPT', new_accepted_challenge_path(challenge_id: challenge.id, player_id: current_player.id, active: true), remote: true
        %td= challenge.id
        %td= challenge.description
        %td= challenge.accepted_challenges.map{ |ac| ac.player.first_name }.join(', ') rescue 'Error'
        %td= challenge.available
        %td= challenge.creator.try(:name)
        %td= link_to 'Show', challenge
        %td= link_to 'Edit', edit_challenge_path(challenge)
        %td= link_to 'Destroy', challenge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Challenge', new_challenge_path
