%p
  %b Daily:
  = @challenge.daily
%p
  %b Weekly:
  = @challenge.weekly
%p
  %b Item type:
  = @challenge.item_type
%p
  %b Operation type:
  = @challenge.operation_type
%p
  %b Greater than:
  = @challenge.greater_than
%p
  %b Less than:
  = @challenge.less_than
%p
  %b Available:
  = @challenge.available
%p
  %b Creator:
  = @challenge.creator_id

= link_to 'Edit', edit_challenge_path(@challenge)
\|
= link_to 'Back', challenges_path
