= simple_form_for(@interruption, remote: true) do |f|
  .form-inputs
    = f.input :internal, collection: [['Internal', true], ['External', false]], selected: true, label: false, :wrapper_html => { class: 'inline-form' }
    = f.input :recovered, collection: [['Recovered', true], ['Lasted 20+ sec', false]], selected: false, label: false, :wrapper_html => { class: 'inline-form' }
    .inline-button= f.button :submit, 'ADD'
    = f.input :details, label: false, placeholder: 'Details (optional)', :wrapper_html => { class: 'inline-form' }