%h1 My Insights

%table
  %thead
    %tr
      %th Text
      %th Category
      %th Aktion
      %th
      %th
      %th

  %tbody
    - @insights.each do |insight|
      %tr
        %td= insight.text
        %td= insight.category
        %td= link_to insight.aktion.try(:simple_time), edit_aktion_path(insight.aktion)
        %td= link_to 'Show', insight
        %td= link_to 'Edit', edit_insight_path(insight)
        %td= link_to 'Destroy', insight, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Insight', new_insight_path
