= simple_form_for(@team_membership) do |f|
  = f.error_notification

  .form-inputs
    = f.association :player
    = f.association :team
    = f.input :api_key
    = f.input :active
    = f.input :admin

  .form-actions
    = f.button :submit
