%h1 Team Memberships

%table
  %thead
    %tr
      %th Player
      %th Team
      %th Active
      %th Admin
      %th
      %th
      %th

  %tbody
    - @team_memberships.each do |team_membership|
      %tr
        %td{style: "background-color: #{team_membership.color}"}= link_to team_membership.player.try(:name), team_membership.player
        %td{style: "background-color: #{team_membership.color}"}= link_to team_membership.team.try(:name), team_membership.team
        %td{style: "background-color: #{team_membership.color}"}= team_membership.active
        %td{style: "background-color: #{team_membership.color}"}= team_membership.admin
        %td= link_to 'Show', team_membership
        %td= link_to 'Edit', edit_team_membership_path(team_membership)
        %td= link_to 'Destroy', team_membership, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Team membership', new_team_membership_path
