%p
  %b Player:
  = @team_membership.player.name
%p
  %b Team:
  = @team_membership.team.name
%p
  %b Active:
  = @team_membership.active
%p
  %b Admin:
  = @team_membership.admin
%p
  %b API key:
  = @team_membership.api_key
%p
  %b External ID:
  = @team_membership.external_id

- response = @team_membership.get_roles_from_api

%hr

%h4 My Circles
- @team_membership.my_circles.each do |circle|
  = circle
  %br

%hr

%h4 My Roles
- response['roles'].each do |role|
  = link_to role['name'], "http://glassfrog.holacracy.org/roles/#{role['id']}"
  %br