- if team_selected?
  %li= link_to 'New Action', new_team_aktion_path(team_id: current_team.id)
- if player_signed_in?
  %li= link_to 'My Actions', player_aktions_path(player_id: current_player.id)
  %li
    %a{"data-dropdown" => "hover1", "data-options" => "is_hover:true; hover_timeout:200", href: ""}
      = image_tag(current_player.gravatar(42))
    %ul#hover1.f-dropdown.tiny{"data-dropdown-content" => ""}
      %li.text-right.dropdown_item= link_to "Sign out #{current_player.first_name}", signout_path
      %li.text-right.dropdown_item= link_to 'Show Profile', current_player
      %li.text-right.dropdown_item= link_to 'Edit Profile', edit_player_path(current_player)
- else
  %li.green-text= link_to 'Sign in with Google', signin_path

%li= link_to 'Teams', teams_path
- if team_selected?
  %li.yellow-text
    %a{"data-dropdown" => "hover2", "data-options" => "is_hover:true; hover_timeout:200", href: "#{team_path(current_team)}"}
      = current_team.name
    %ul#hover2.f-dropdown.tiny{"data-dropdown-content" => ""}
      %li.dropdown_item= link_to 'Team Roles', team_roles_path(team_id: current_team.id)
      %li.dropdown_item= link_to 'Team Projects', team_projects_path(team_id: current_team.id)
      %li.dropdown_item= link_to 'Switch Current', teams_path
      %li.dropdown_item= link_to 'All Players', players_path
- else
  %li.yellow-text= link_to 'Choose Your Team', teams_path
