%li= link_to 'Teams', teams_path
%li= link_to 'Players', players_path
- if player_signed_in?
  - team = Team.first
  / %li= link_to 'New Action', new_team_aktion_path(team)
  %li= link_to 'Roles', roles_path
  %li= link_to 'Projects', projects_path
  - if current_player.try(:admin?)
    %li= link_to 'Players', players_path
  %li= link_to 'My Profile', current_player
  %li= link_to "Sign out #{current_player.name}", signout_path
- else
  %li= link_to 'Sign in', signin_path
