- if player_signed_in?
  - current_aktion = Aktion.current(current_player)
  - if current_aktion
    %li.light-red-text= link_to "#{current_aktion.to_do}", edit_aktion_path(id: current_aktion.id)
  %li
    %a{"data-dropdown" => "hover4", "data-options" => "is_hover:true; hover_timeout:200", href: "#{starting_path}"}
      .light-red-text START ACTION
    %ul#hover4.f-dropdown.medium{"data-dropdown-content" => ""}
      - current_player.my_teams.each do |team|
        %li.dropdown_item= link_to "=> #{team.name}", activate_team_path(team), {style: "color: #{team.color(current_player)}"}
      %hr
      - current_player.frequent_actions_with_counts.first(10).each do |a, count|
        %li.dropdown_item= link_to "#{a.summary} (#{count})", new_aktion_path(previous_aktion_id: a.id), {style: "color: #{a.color}"}
  %li
    %a{"data-dropdown" => "hover2", "data-options" => "is_hover:true; hover_timeout:200", href: "#{teams_path}"}
      = 'VIEW TEAMS'
    %ul#hover2.f-dropdown.tiny{"data-dropdown-content" => ""}
      - current_player.my_teams.each do |team|
        %li.dropdown_item= link_to team.name, team, {style: "color: #{team.color(current_player)}"}
  %li
    %a{"data-dropdown" => "hover1", "data-options" => "is_hover:true; hover_timeout:200", href: "#{player_path(current_player)}"}
      / .green-text= current_player.first_name
      = image_tag(current_player.gravatar(42))
    %ul#hover1.f-dropdown.tiny{"data-dropdown-content" => ""}
      %li.text-right.dropdown_item= link_to 'Settings', edit_player_path(current_player)
      %li.text-right.dropdown_item= link_to 'Profile', current_player
      %li.text-right.dropdown_item= link_to "Sign out #{current_player.first_name}", signout_path
      %hr
      %li.text-right.dropdown_item= link_to 'My Actions', player_aktions_path(player_id: current_player.id)
      %li.text-right.dropdown_item= link_to 'My Roles', roles_path
      %li.text-right.dropdown_item= link_to 'My Projects', projects_path
      %li.text-right.dropdown_item= link_to 'My Insights', insights_path
      %hr
      %li.text-right.dropdown_item= link_to 'All Players', players_path
      %hr
      %li.text-right.dropdown_item= link_to "#{session[:sound_choice] == 'music' ? '' : '=> '}music".upcase, sounds_path(sound_choice: 'music')
      %li.text-right.dropdown_item= link_to "#{session[:sound_choice] == 'nature' ? '' : '=> '}nature".upcase, sounds_path(sound_choice: 'nature')
      %li.text-right.dropdown_item= link_to "#{session[:sound_choice] == 'silence' ? '' : '=> '}silence".upcase, sounds_path(sound_choice: 'silence')
      %li.text-right.dropdown_item= link_to "#{session[:sound_choice] == 'ticking' ? '' : '=> '}ticking".upcase, sounds_path(sound_choice: 'ticking')
- else
  %li
    %a{"data-dropdown" => "hover3", "data-options" => "is_hover:true; hover_timeout:200", href: ""}
      - session[:sound_choice] ||= 'ticking'
      = session[:sound_choice].upcase
    %ul#hover3.f-dropdown.tiny{"data-dropdown-content" => ""}
      - Player.sound_choices.each do |choice|
        %li.dropdown_item= link_to choice.upcase, sounds_path(sound_choice: choice)
  %li.green-text= link_to 'Sign in with Google', signin_path
%li= link_to 'HELP', 'https://playfullyproductive.zendesk.com/hc/en-us'