!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'TAG.com Beta'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'TheActionGame.com'}"}
    = favicon_link_tag
    = stylesheet_link_tag 'application', media: 'all'
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    :javascript
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
      heap.load("3645998828");
  %body
    %header
      = render 'layouts/navigation'
      .debug-filler &nbsp;
    %main{:role => "main"}
      - if sidebars?
        #sidebar.large-1.medium-2.hide-for-small.group
          = render 'aktions/todays_bar'
          .bottom-10
          = render 'aktions/now'
        #content.large-10.medium-8.small-12.group
          = render 'layouts/progress_bar'
          = render 'layouts/messages'
          = yield
        #right-sidebar.large-1.medium-2.hide-for-small.group
      - else
        #content.large-12.medium-12.small-12.group
          = render 'layouts/progress_bar'
          = render 'layouts/messages'
          = yield
          .right-sidebar PRIVET
    %footer
      = render '/visitors/sounds' unless params[:controller] == 'visitors' && params[:action] == 'sounds'

